[worldserver]

#
#   Buff.Enable
#       Описание: Включить/Выключить модуль
#       По умолчанию: 1 (Включенно)
#       Значения:
#           1 (Включенно)
#           0 (Включенно)
#

Buff.Enable = 1

#
#   Buff.Announce
#       Описание: Анонсировать модуль при входе игрока?
#       По умолчанию: 1 (Включенно)
#       Значения:
#           1 (Включенно)
#           0 (Включенно)
#

Buff.Announce = 1

#
#   Buff.CureRes
#       Описание: Снять слабость после воскрешения? ID: 15007
#       По умолчанию: 1 (Включенно)
#       Значения:
#           1 (Включенно)
#           0 (Включенно)
#

Buff.CureRes = 1

#
#   Buff.ByLevel
#       Описание: Ограничить усиления по уровню
#       По умолчанию: 1 (Включенно)
#       Значения:
#           1 (Включенно)
#           0 (Включенно)
#

Buff.ByLevel = 1

#
#   Buff.MaxLevel
#       Описание: Максимальный уровень персонажа, при котором масштабируются эффекты усиления.
#                 Персонажи этого или более высокого уровня получают усиления максимальной силы.
#

Buff.MaxLevel = 80

#
#   Buff.Spells
#       Описание: Настройки баффов по умолчанию (оставьте поле пустым, чтобы отключить бафф)
#
#       1. Молитва стойкости (48162)
#       2. Великое благословение королей (43223)
#       3. Знак дикой природы (48469)
#       4. Молитва духа (48074)
#       5. Молитва защиты от темной магии (48170)
#       6. Чародейский интеллект (42995)
#       7. Шипы (53307)
#
#       Развлечения
#       48612 (Далрон-контролер)
#

Buff.Spells = "48162;43223;48469;48074;48170;42995;53307;"

#
#   Buff.MessageTimer
#       Описание: Как часто NPC демонстрирует эмоцию (в миллисекундах)?
#                 Рассчитывается случайным образом в диапазоне от 60 000 (минимум — 1 минута) до 3 000 000 (максимум — 5 минут).
#       По умолчанию: 60000 (1 минута, минимум)
#       Включенно: 0
#

Buff.MessageTimer = 60000

#
#   Buff.NumPhrases
#       Описание: Сколько фраз у NPC?
#       По умолчанию: 4
#       Включенно: 0
#

Buff.NumPhrases = 4

#
#   Фразы NPC — добавьте свои!
#   Произносятся случайным образом в игровой мир
#

BF.P1 = "Заходи за усилением, попробуй мое зелье — эльфийки от него просто без ума!"
BF.P2 = "Ей не удалось достать звезды из кружащегося космоса, зато она любила славных тауренов и ездила на отличных кодо."
BF.P3 = "Мистер Граббс — самый крутой червяк в округе. Тут и спорить нечего."
BF.P4 = "Уж кто-кто, а тролли умеют танцевать! Говорят, они любят устраивать вечеринки в горах Темных Берегов."
#
#   Buff.NumWhispers
#       Описание: Сколько шепотов у NPC?
#       По умолчанию: 10
#       Включенно: 0
#

Buff.NumWhispers = 10

#
#   Фразы NPC (шепот) — Добавьте свои!
#   Шепчутся игроку после взаимодействия
#   Используйте «%s%», чтобы вставить имя игрока
#

BF.W1 = "Дух Койтера несет стражу, взирая на Пустоши. Ты уже побывал у святилища, %s?"
BF.W2 = "Кости короля все еще там. Вечно покоятся в пыли. Там же и оружие... если знать, где искать, %s."
BF.W3 = "Ох, %s, как же я скучаю по тем дням в пустошах... по закатам над Награндом."
BF.W4 = "А-а... давно не виделись, %s. Как дела на фронте, старый друг?"
BF.W5 = "Статую ты найдешь за мостом, в северных диких землях Азшары, %s. Она лежит в руинах, и ее охраняют наги."
BF.W6 = "Сокрушить врагов, гнать их перед собой, %s, и слушать плач их женщин!"
BF.W7 = "Да... %s. Ходят слухи, что в клетках Глубин Черной горы томятся двое рабов. Возможно, они смогут рассказать тебе больше."
BF.W8 = "И правда... %s. Дворфы хранят немало тайн о том, что скрывается за глубокими недрами их королевств."
BF.W9 = "Немного того... капля сего... а-а... вот так, %s."
BF.W10 = "Нет, %s, я так и не слышал, нашли ли тех детей, что пропали в Награнде и Зангартопи."


#
#   Buff.EmoteSpell
#       Описание: Сотворенное заклинание, чтобы привлечь внимание игрока
#       По умолчанию: 44940
#       Включенно: 0
#

Buff.EmoteSpell = 0

#
#   Buff.EmoteCommand
#       Описание: Жест, который выполняет NPC при произнесении текста эмоции.
#       По умолчанию: 3 (Wave)
#       Включенно: 0
#
#       0 - НЕТ
#       1 - РАЗГОВОР
#       2 - ЛУК
#       3 - ВОЛНА
#       4 - УРА
#       5 - ВОСКЛИЦАТЕЛЬНОЕ СЛОВО
#       6 - ВОПРОС
#       7 - ЕСТЬ
#       11 - СМЕХ
#       14 - ГРУБО
#       15 - РЕВ
#       16 - ВСТАТЬ НА КОЛЕНИ
#       17 - KISS
#       18 - ПЛАЧ
#       19 - КУРИЦА
#       20 - НАЧАЛО
#       21 - АПЛОДИСМЕНТЫ
#       22 - КРИК
#       23 - ГИБКОСТЬ
#       24 - СТЕСНИТЕЛЬНЫЙ
#       25 - ТОЧКА
#

Buff.EmoteCommand = 3
