#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

###################################################################################################
# Модуль времени применения заклинаний при создании предметов
###################################################################################################

# Включить или отключить модификатор времени применения при создании предметов.
# 1 - Включенно
# 0 - Выключенно
#
# По умолчанию:  1

CraftingCastTime.Enable = 1

# Глобальный множитель, применяемый к времени применения заклинаний создания, которые:
#   - Создание предметов (SPELL_EFFECT_TRADE_SKILL, SPELL_EFFECT_CREATE_ITEM, SPELL_EFFECT_CREATE_ITEM_2)
#   - Получить реагент (Reagent[0] in Spell.dbc) > 0
#
# Примеры значений:
#   1.0  - без изменений
#   0.5  - в два раза меньше времени на каст
#   0.25 - 25% от обычного времени каста (в 4 раза быстрее)
#
# Значения <= 0 округляются до небольшого положительного минимума (0,01).
#
# По умолчанию:  0.25

CraftingCastTime.Multiplier = 0.25