[worldserver]

#
#   IndividualXp.Enabled
#
#   Описание: Включить или отключить модуль IndividualXP.
#   Пример:
#       true (Модуль готов к использованию)
#       false (Никто не может использовать команды)
#
#   По умолчанию: true
#

IndividualXp.Enabled = true

#
#   IndividualXp.Announce
#
#   Описание: Объявлять о модуле IndividualXP при входе в систему.
#   Пример:
#           true (Сообщение отображается в чате, когда игрок заходит в игру)
#           false (Сообщение не появляется)
#
#   По умолчанию: true
#

IndividualXp.Announce = true

#
#   IndividualXp.AnnounceRatesOnLogin
#
#   Описание: При входе в чат игроку отображаются его текущее значение и максимальное значение.
#   Пример:
#           true (Сообщение отображается в чате, когда игрок заходит в игру)
#           false (Сообщение не появляется)
#
#   По умолчанию: true
#

IndividualXp.AnnounceRatesOnLogin = true

#
#   IndividualXp.MaxXPRate
#
#   Описание: Это максимальное количество опыта, которое игрок может себе установить.
#   Пример: 1, 2, 3 или 4 (любое положительное целое число на ваш выбор)
#
#   По умолчанию: 10
#

IndividualXp.MaxXPRate = 10

#
#   DefaultXPRate
#
#   Описание: Это стандартный показатель, с которого начинают игроки.
#   Рекомендация: Возможно, стоит установить значение по умолчанию на максимум.
#   Затем каждый игрок может выбрать, снижать его или нет. Хотя он также может быть равен 1.
#
#   По умолчанию: 1
#

IndividualXp.DefaultXPRate = 1
