#
# настройки mod-auto-gather
#
# Автоматически отображает на мини-карте точки добычи руды и сбора трав,
# а также автоматически собирает ресурсы, когда персонаж находится рядом.
# Также поддерживает автоматическое снятие шкур с мертвых существ, с которых уже был полностью собран лут.
#

###############################################################################
# ОБЩИЕ НАСТРОЙКИ
###############################################################################

#
#   AutoGather.Enable
#       Включение модуля.
#       По умолчанию: 1 (Включенно)
#
AutoGather.Enable = 1

#
#   AutoGather.Announce
#       Объявить игрокам о модуле при входе в игру.
#       По умолчанию: 1 (Включенно)
#
AutoGather.Announce = 1

###############################################################################
# НАСТРОЙКИ ОТСЛЕЖИВАНИЯ
###############################################################################

#
#   AutoGather.AutoTrack
#       Принудительное включение на мини-карте маркеров отслеживания для собирательных профессий.
#       Напрямую устанавливает биты PLAYER_TRACK_RESOURCES, позволяя одновременно отображать несколько
#       типов ресурсов наряду с другими видами отслеживания.
#       Примечание: в версии WotLK для снятия шкур (Skinning) не предусмотрено заклинания отслеживания на мини-карте.
#       По умолчанию: 1 (Включенно)
#
AutoGather.AutoTrack = 1

###############################################################################
# НАСТРОЙКИ АВТОСБОРА
###############################################################################

#
#   AutoGather.AutoLoot
#       Автоматически собирать ресурсы с узлов или существ, когда они находятся в радиусе действия.
#       Добыча сразу попадает в сумки, окно сбора не открывается.
#       По умолчанию: 1 (Включенно)
#
AutoGather.AutoLoot = 1

#
#   AutoGather.LootRange
#       Радиус (в ярдах) для автоматического сбора ресурсов и снятия шкур.
#       По умолчанию: 10.0
#
AutoGather.LootRange = 10.0

#
#   AutoGather.ScanIntervalMs
#       Интервал в миллисекундах между сканированиями узлов для каждого игрока.
#       По умолчанию: 1000
#
AutoGather.ScanIntervalMs = 1000

#
#   AutoGather.AllowInCombat
#       Разрешить автоматический сбор во время боя.
#       По умолчанию: 0 (Выключенно)
#
AutoGather.AllowInCombat = 0

#
#   AutoGather.AllowWhileMounted
#       Разрешить сбор ресурсов при езде на маунте.
#       По умолчанию: 1 (Включенно)
#
AutoGather.AllowWhileMounted = 1
