[worldserver]

###################################################################################################
# Настройки модуля SOLO LFG
###################################################################################################

#    SoloLFG.Enable
#        Описание: Включение/Отключение модуля
#        По умолчанию: 1  - (Включенно)
#                      0  - (Выключенно)


SoloLFG.Enable = 1

#    SoloLFG.Announce
#        Описание: Объявить о модуле в игре
#        По умолчанию: 1  - (Включенно)
#                      0  - (Выключенно)

SoloLFG.Announce = 1

#    SoloLFG.FixedXP
#        Описание: Установите множитель опыта в подземельях на FixedXPRate.
#        По умолчанию: 1  - (Включенно)
#                      0  - (Выключенно)

SoloLFG.FixedXP = 1

#    SoloLFG.FixedXPRate
#        Описание: Установите фиксированный коэффициент опыта для подземелий.
#        По умолчанию: 0.2 (Такое же количество опыта набирается в группе из 5 человек.)

SoloLFG.FixedXPRate = 0.2

###################################################################################################
