#
# Credits: silviu20092
#

[worldserver]

########################################
# Настройки модуля Easy respawn
########################################
#
#    EasyRespawn.Active
#        Описание: Список значений, разделенных запятыми, определяющих области действия системы. Система также распространяется на ботов-игроков.
#
#        Значение: 0 - Включенно
#                  1 - Работает в подземельях
#                  2 - Работает в рейдах
#                  4 - Работает в открытом мире
#
#        Пример:   Если вы хотите, чтобы система работала только в подземельях и открытом мире (то есть не в рейдах),
#                  просто используйте соответствующие значения — 1 и 4.
#                  Если вы хотите отключить систему, просто используйте 0.
#
#        По умолчанию: 1,2,4 - действует повсюду
#

EasyRespawn.Active = 1,2,4

#
#    EasyRespawn.ResurrectPct
#        Описание: При автоматическом воскрешении игрока устанавливает процент здоровья.
#        Значение: От 0,1 (воскрешение с 10% здоровья) до 1 (100% здоровья). Значение 0,5 означает, что игрок воскреснет с половиной здоровья.
#
#        По умолчанию: 1
#

EasyRespawn.ResurrectPct = 1

#
#    EasyRespawn.DisabledMapIds
#        Описание: Отключить определенные карты для системы упрощенного возрождения.
#        Значение: ID карт, разделенные запятыми. Оставьте поле пустым, чтобы ничего не отключать.
#                  Добавьте, например, 631, чтобы отключить систему в Цитадели Ледяной Короны.
#

EasyRespawn.DisabledMapIds =

#
#    EasyRespawn.InstanceRespawnLocation
#        Описание: Определяет место возрождения игрока при воскрешении внутри подземелья.
#        Значение: 1 - возрождается внутри подземелья прямо у входа
#                  2 - возрождается снаружи подземелья, прямо у входа
#
#        По умолчанию: 2
#
#        Примечание: Для определения точки возврата для каждого подземелья (как внутри, так и снаружи)
#                    используется внутреннее хранилище триггеров зон AzerothCore. Поскольку для некоторых подземелий
#                    (например, ICC) внешние триггеры отсутствуют, то при значении `EasyRespawn.InstanceRespawnLocation`,
#                    равном 2, игрок будет воскрешен внутри подземелья (система сработает так, будто было установлено значение 1).
#

EasyRespawn.InstanceRespawnLocation = 2

#
#    EasyRespawn.OpenWorldRespawnLocation
#        Описание: Определяет место возрождения игрока в открытом мире.
#
#        Значение: 1 - возрождается мгновенно прямо на месте трупа
#                  2 - Возрождается на ближайшем кладбище.
#                  3 - возрождается прямо на месте гибели (но остается в облике призрака).
#                      По сути, это исключает необходимость возвращаться к трупу в виде призрака,
#                      однако всё равно приходится ждать положенное время до момента, когда станет возможно воскрешение.
#
#        По умолчанию: 2
#
#        Примечание: Если установлено значение 1, игрок будет мгновенно возрождаться (возможно, даже с полным запасом здоровья,
#                    если параметр EasyRespawn.ResurrectPct равен 1); это может повлиять, например, на PvP в открытом мире.
#

EasyRespawn.OpenWorldRespawnLocation = 2

#
#    EasyRespawn.OverrideRespawnLocation.[MAP_ID]
#        Описание: Возможность переопределять стандартную точку возрождения для конкретных карт.
#
#        Значение: EasyRespawn.OverrideRespawnLocation.[MAP_ID] = new_map_id,pos_x,pos_y,pos_z,orientation
#
#        Пример: EasyRespawn.OverrideRespawnLocation.631 = 571,5788.0806,2071.0225,636.0642,3.6041362
#                Это перезапишет точку возрождения с карты 631 (ICC) на новые координаты:
#                map 571 (Нордскол), x = 5788.0806,  y = 2071.0225, z = 636.0642, o = 3.6041362
#

EasyRespawn.OverrideRespawnLocation.631 = 571,5788.0806,2071.0225,636.0642,3.6041362
