[worldserver]

# Стоимость гильдейского дома
#
# Сумма, необходимая для покупки дома гильдии.
# По умолчанию = 10000000 (1000з)
#
CostGuildHouse = 10000000

# GuildHouseMailbox
#
# Сумма для покупки почтового ящика для вашего дома гильдии
# По умолчанию = 500000 (50з)
#
GuildHouseMailbox = 500000

# GuildHouseInnKeeper
#
# Сумма для покупки трактирщика в ваш дом гильдии
# По умолчанию = 1000000 (100з)
#
GuildHouseInnKeeper = 1000000

# GuildHouseBank
#
# Сумма для покупки хранилища для вашего дома гильдии
# По умолчанию = 1000000 (100з)
#
GuildHouseBank = 1000000

# GuildHouseAuctioneer
#
# Сумма для покупки аукциониста в ваш дом гильдии.
# По умолчанию = 1000000 (100з)
#
GuildHouseAuctioneer = 1000000

# GuildHouseTrainerCost
#
# Стоимость приобретения каждого классового наставника для дома гильдии
# По умолчанию = 1000000 (100з)
#
GuildHouseTrainerCost = 1000000

# GuildHouseVendor
#
# Сумма, необходимая для покупки торговцев для вашего дома гильдии — например, торговца материалами или торговца гербовыми накидками.
# По умолчанию = 500000 (50з)
#
GuildHouseVendor = 500000

# GuildHouseObject
#
# Сумма, необходимая для покупки предмета для вашего дома гильдии, например, кресла парикмахера или хранилища гильдии.
# По умолчанию = 500000 (50з)
#
GuildHouseObject = 500000

# GuildHousePortal
#
# Сумма для покупки портала в дом вашей гильдии
# По умолчанию = 1000000 (100з)
#
GuildHousePortal = 1000000

# GuildHouseProf
#
# Стоимость услуг гильдейских торговцев, связанных с профессиями.
# По умолчанию = 500000 (50з)
#
GuildHouseProf = 500000

# GuildHouseSpirit
#
# Стоимость услуг Целителя душ на кладбище у здания гильдии.
# По умолчанию = 100000 (10g)
#
GuildHouseSpirit = 100000

# GuildHouseBuyRank
#
# Минимальный ранг в гильдии для совершения покупок в гильдейском доме
# По умолчанию = 4 (принятый)
# GR_GUILDMASTER  = 0
# GR_OFFICER      = 1
# GR_VETERAN      = 2
# GR_MEMBER       = 3
# GR_INITIATE     = 4
#
GuildHouseBuyRank = 4


# GuildHouseSellRank
#
# Минимальный ранг в гильдии, позволяющий продать гильдейский дом
# По умолчанию = 0 (Глава гильдии)
# GR_GUILDMASTER  = 0
# GR_OFFICER      = 1
# GR_VETERAN      = 2
# GR_MEMBER       = 3
# GR_INITIATE     = 4
#
GuildHouseSellRank = 0