#
# Этот файл является частью проекта AzerothCore. Информация об авторских правах содержится в файле AUTHORS.
#
# Этот файл является свободным программным обеспечением; в качестве особого исключения автор предоставляет
# неограниченное разрешение на его копирование и/или распространение (с изменениями или без них)
# при условии сохранения данного уведомления.
#
# Программа распространяется в надежде на то, что она будет полезной, но
# БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ (в той мере, в какой это допускается законом),
# в том числе без подразумеваемых гарантий товарного качества или пригодности для определенной цели.
#
# Пользователь вручную решил пропустить тесты git, поэтому выводим предупреждение.
# Это происходит при КАЖДОЙ компиляции, чтобы пользователь был осведомлен о последствиях.
#

########################################
# НАСТРОЙКИ МОДУЛЯ AOE LOOT
########################################
#
#    AOELoot.Enable
#        Описание: Включение модуля
#        По умолчанию:     1 - (Включенно)
#                          0 - (Выключенно)
#

AOELoot.Enable = 1

#
#    AOELoot.Message
#        Описание: Показывать информационное сообщение при входе игрока в систему.
#        По умолчанию:     1 - (Включенно)
#                          0 - (Выключенно)
#

AOELoot.Message = 1

#
#    AOELoot.Range
#       Описание: Поиск добычи с максимальным радиусом действия.
#       По умолчанию:    55.0
#       Радиус:          5.0 - 100.0
#

AOELoot.Range = 55.0

#
#    AOELoot.Group
#        Описание: Включает сбор добычи, если игрок находится в группе.
#        По умолчанию:     1 - (Включенно)
#                          0 - (Выключенно)
#

AOELoot.Group = 1
