#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Настройка Возрождения в подземелье
########################################
#
#    DungeonRespawn.Enable
#        Описание: Включает/Выключает модуль возрождения в подземельях.
#        Опции:    0 - Выключенно
#                  1 - Включенно
#

DungeonRespawn.Enable = 0

#
#    DungeonRespawn.RespawnHealthPct
#        Описание:     Количество здоровья (в процентах), с которым происходит возрождение.
#        Диапазон:     0.0 - 100.0
#        По умолчанию: 50.0
#

DungeonRespawn.RespawnHealthPct = 50.0
