[worldserver]

###################################################################################################
#   Настройки модуля ENCHANTER NPC
###################################################################################################

# -------------------------------------------------------------------------------------
#  Включить/Выключить модуль
#  Включить: 1
#  Выключить: 0
# -------------------------------------------------------------------------------------
Enchanter.Enable = 1

# -------------------------------------------------------------------------------------
#  Анонсировать модуль при входе игрока?
#  Включить: 1
#  Выключить: 0
# -------------------------------------------------------------------------------------
Enchanter.Announce = 1

# -------------------------------------------------------------------------------------
#  Как часто NPC демонстрирует эмоцию (в миллисекундах)?
#  Рассчитывается случайным образом в диапазоне от 60 000 (минимум — 1 мин.) до 3 000 000 (максимум — 5 мин.).
#  По умолчанию: 60000 (1 минута, минимум)
#  Выключить: 0
# -------------------------------------------------------------------------------------
Enchanter.MessageTimer = 60000

# -------------------------------------------------------------------------------------
#  Сколько фраз у NPC?
#  По умолчанию: 3
#  Выключить: 0
# -------------------------------------------------------------------------------------
Enchanter.NumPhrases = 3

# -------------------------------------------------------------------------------------
#  Фразы NPC — добавьте свои!
#  Произносятся случайным образом в игровом мире
# -------------------------------------------------------------------------------------
EC.P1 = "Я могу наполнить ваше оружие магической энергией."
EC.P2 = "Мои чары известны по всему Азероту!"
EC.P3 = "Приветствую, путник. Хотите взглянуть на мои товары?"

# -------------------------------------------------------------------------------------
#  Заклинание, используемое для привлечения внимания игрока
#  По умолчанию: 44940
#  Выключить: 0
# -------------------------------------------------------------------------------------
Enchanter.EmoteSpell = 0

# -------------------------------------------------------------------------------------
#  Жест, который выполняет NPC при произнесении текста эмоции
#  По умолчанию: 3 (Wave)
#  Выключить: 0
# -------------------------------------------------------------------------------------
# 0 - НЕТ
# 1 - РАЗГОВОР
# 2 - ЛУК
# 3 - ВОЛНА
# 4 - УРА
# 5 - ВОСКЛИЦАТЕЛЬНОЕ СЛОВО
# 6 - ВОПРОС
# 7 - ЕСТЬ
# 11 - СМЕХ
# 14 - ГРУБО
# 15 - РЕВ
# 16 - ВСТАТЬ НА КОЛЕНИ
# 17 - KISS
# 18 - ПЛАЧ
# 19 - КУРИЦА
# 20 - НАЧАЛО
# 21 - АПЛОДИСМЕНТЫ
# 22 - КРИК
# 23 - ГИБКОСТЬ
# 24 - СТЕСНИТЕЛЬНЫЙ
# 25 - ТОЧКА     
# -------------------------------------------------------------------------------------   
Enchanter.EmoteCommand = 3
