[worldserver]


###################################################################################################
#    Настройки модуля Transmogrification
###################################################################################################
#
#
#    Transmogrification.Enable
#        Описание: Включает/Отключает модуль
#                  Игроки не смогут видеть предметы с измененным внешним видом,
#                  пока эта функция отключена, однако данные в базе данных сохраняются.
#        По умолчанию: 1
#
#    Transmogrification.ShowSetDisclaimer
#        Описание: Если эта функция включена, игроки получают уведомление в чате при трансмогрификации предмета из комплекта
#                  в нем разъясняется, что бонусы комплекта сохраняются, даже если они не отображаются во всплывающей подсказке.
#                  Игроки могут отключить это уведомление для конкретного персонажа командой: .transmog disclaimer off
#        По умолчанию: 0
#
#    Transmogrification.UseCollectionSystem
#        Описание: Включает/Отключает систему коллекции внешнего вида в стиле дополнения Legion.
#                  Если функция включена, игроки могут использовать внешний вид любого предмета,
#                  который был надет на персонажа или получен в награду за выполненное задание.
#                  Если функция отключена, для использования предмета в качестве источника внешнего
#                  вида при трансмогрификации он должен находиться в сумке игрока.
#        По умолчанию: 1
#
#    Transmogrification.UseVendorInterface
#        Описание: Включает/Отключает использование специального интерфейса торговца для выбора предметов.
#                  При импорте файла data/sql/db-world/tasm_world_VendorItems.sql становятся доступны
#                  (опциональные) пользовательские предметы для скрытия элементов экипировки и удаления трансмогрификации.
#                  Если функция включена, игроки могут выбирать предметы через меню торговца, включая возможность
#                  предварительного просмотра при нажатии Ctrl + щелчке мыши.
#                  Если функция отключена, игроки будут выбирать предметы через меню диалога
#                  (gossip menu) и не смогут воспользоваться функцией предварительного просмотра.
#        По умолчанию: 0
#
#    Transmogrification.AllowHiddenTransmog
#        Описание: Включает/Отключает скрытие экипировки с помощью трансмогрификации
#                  Если функция включена, игроки могут выбрать «невидимый» внешний вид для предметов у торговца трансмогрификацией
#        По умолчанию: 1
#
#    Transmogrification.HiddenTransmogIsFree
#        Описание: Включает/Отключает бесплатное скрытие предметов через систему трансмогрификации.
#                  Если функция включена, игроки могут скрывать элементы снаряжения бесплатно.
#                  Если функция отключена, за скрытие предмета с игроков будет взиматься стандартная
#                  плата за трансмогрификацию (с учетом всех модификаторов).
#        По умолчанию: 1
#
#    Transmogrification.TrackUnusableItems
#        Описание: Если эта функция включена, коллекционируются даже те облики, которые не подходят для трансмогрификации.
#                  Это позволяет использовать их в дальнейшем при изменении настроек.
#        По умолчанию: 1
#
#    Transmogrification.RetroActiveAppearances
#        Описание: Включает/Отключает проверку всех выполненных заданий на предмет неполученных обликов.
#                  Происходит только один раз для каждого игрока.
#        По умолчанию: 1
#
#    Transmogrification.ResetRetroActiveAppearancesFlag
#        Описание: Сбрасывает флаг, указывающий, была ли выполнена ретроактивная проверка внешности.
#                  Срабатывает для каждого персонажа при входе в игру.
#        По умолчанию: 0
#
#    Transmogrification.EnableTransmogInfo
#        Описание: Включает/Отключает кнопку информации о трансмогрификации
#        По умолчанию: 1
#
#    Transmogrification.TransmogNpcText
#        Описание: Запись npc_text в меню трансмогрификации
#        По умолчанию: 601083
#
#    Transmogrification.Allowed
#        Описание: Список предметов, ДОСТУПНЫХ для трансмогрификации (без проверки качества и возможности использования).
#                  Пример: "25 35674 5623"
#        По умолчанию: ""
#
#    Transmogrification.NotAllowed
#        Описание: Список предметов, НЕДОСТУПНЫХ для трансмогрификации.
#                  Пример: "25 35674 5623"
#        По умолчанию: ""
#
#    Transmogrification.EnablePortable
#        Описание: Включает/Отключает портативного NPC для смены облика
#        По умолчанию: 1
#
#    Transmogrification.EnableSortByQualityAndName
#        Описание: Включает/Отключает сортировку предметов по качеству, а затем по названиям
#        По умолчанию: 1
#

Transmogrification.Enable = 1
Transmogrification.ShowSetDisclaimer = 0
Transmogrification.UseCollectionSystem = 1
Transmogrification.UseVendorInterface = 0
Transmogrification.AllowHiddenTransmog = 1
Transmogrification.HiddenTransmogIsFree = 1
Transmogrification.TrackUnusableItems = 1
Transmogrification.RetroActiveAppearances = 1
Transmogrification.ResetRetroActiveAppearancesFlag = 0

Transmogrification.EnableTransmogInfo = 1
Transmogrification.TransmogNpcText = 601083

Transmogrification.Allowed = ""
Transmogrification.NotAllowed = ""

Transmogrification.EnablePortable = 1

Transmogrification.EnableSortByQualityAndName = 1

#
#    COPPER COST
#
#    Transmogrification.ScaledCostModifier
#        Описание: Множитель для базовой стоимости в золоте (установите 0, чтобы убрать базовую стоимость)
#        По умолчанию: 1.0
#
#    Transmogrification.CopperCost
#        Описание: Стоимость добавляемая к прочим расходам (могут быть отрицательными)
#        По умолчанию: 0
#
#    Чтобы задать собственную стоимость в золоте, установите для ScaledCostModifier значение 0.0, а для CopperCost — желаемую стоимость.

Transmogrification.ScaledCostModifier = 1.0
Transmogrification.CopperCost = 0

#
#    TOKEN COST
#
#    Transmogrification.RequireToken
#        Описание: Включает/Отключает стоимость в жетонах
#        По умолчанию: 0
#
#    Transmogrification.TokenEntry
#        Описание: Ввод жетона
#        По умолчанию: 49426
#
#    Transmogrification.TokenAmount
#        Описание: Необходимое количество жетонов
#        По умолчанию: 1

Transmogrification.RequireToken = 0
Transmogrification.TokenEntry = 49426
Transmogrification.TokenAmount = 1

#
#    REQUIREMENTS
#
#    Transmogrification.AllowPoor
#        Описание: Разрешить использование объектов низкого качества в качестве исходных и целевых объектов.
#        По умолчанию: 0
#
#    Transmogrification.AllowCommon
#        Описание: Разрешить использование предметов обычного качества в качестве исходных и целевых предметов.
#        По умолчанию: 0
#
#    Transmogrification.AllowUncommon
#        Описание: Разрешить использование предметов необычного качества в качестве исходных и целевых предметов.
#        По умолчанию: 1
#
#    Transmogrification.AllowRare
#        Описание: Разрешить использование предметов редкого качества в качестве исходных и целевых предметов.
#        По умолчанию: 1
#
#    Transmogrification.AllowEpic
#        Описание: Разрешить использование предметов эпического качества в качестве исходных и целевых предметов.
#        По умолчанию: 1
#
#    Transmogrification.AllowLegendary
#        Описание: Разрешить использование предметов легендарного качества в качестве исходных и целевых предметов.
#        По умолчанию: 0
#
#    Transmogrification.AllowArtifact
#        Описание: Разрешить использование предметов качества артефакт в качестве исходных и целевых предметов.
#        По умолчанию: 0
#
#    Transmogrification.AllowHeirloom
#        Описание: Разрешить использование предметов качества Наследие в качестве исходных и целевых предметов.
#        По умолчанию: 1
#
#    Transmogrification.AllowTradeable
#        Описание: Разрешить предметы, доступные для обмена (например, в течение 2-часового льготного периода внутри подземелья)
#        По умолчанию: 0
#
#    Transmogrification.AllowMixedArmorTypes
#        Описание: Разрешить трансмогрификацию тканевых предметов в латные (как пример)
1#        По умолчанию: 0
#
#    Transmogrification.AllowLowerTiers
#        Описание: Позволяет использовать броню любого уровня, доступного игроку (например латы для воина->ткань | ткань для мага)
#        По умолчанию: 0
#
#    Transmogrification.AllowMixedOffhandArmorTypes
#        Описание: Разрешить взаимозаменяемое использование щитов, предметов для левой руки (например, фонарей) и баклеров.
#        По умолчанию: 0
#
#    Transmogrification.AllowMixedWeaponTypes
#        Описание: Позволить, например, трансмогрифицировать топор в кинжал.
#        Возможные значения: 
#            По умолчанию: 0 - STRICT - Действуют строгие ограничения, как в оригинальной системе трансмогрификации
#                              версии 4.3 от Blizzard: оружие должно относиться к одному и тому же типу
#                              (исключения: ружья, арбалеты и луки)
#                          1 - MODERN - По аналогии с более поздними версиями розничной WoW, разрешить
#                              трансмогрификацию мечей в топоры и так далее
#                          2 - FULL - Никаких ограничений: разрешить трансмогрификацию любого оружия в любое другое
#
#    Transmogrification.AllowMixedWeaponHandedness
#        Описание: Обычно оружие для правой и левой руки можно трансмогрифицировать только в предметы того же типа.
#                  Включите эту опцию, чтобы снять данное ограничение.
#                  Не требуется, если для параметра AllowMixedWeaponTypes установлено значение FULL.
#        По умолчанию: 0
#
#    Transmogrification.AllowFishingPoles
#        Описание: Позволить использовать удочки для трансмогрификации
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqRace
#        Описание: Игнорировать обязательную расу для исходных предметов
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqClass
#        Описание: Игнорировать обязательный класс для исходных предметов
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqSkill
#        Описание: Игнорировать требование к навыку для исходных предметов
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqSpell
#        Описание: Игнорировать обязательное заклинание для исходных предметов
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqLevel
#        Описание: Игнорировать требуемый уровень для исходных предметов
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqEvent
#        Описание: Игнорировать обязательное событие для исходных предметов
#        По умолчанию: 0
#
#    Transmogrification.IgnoreReqStats
#        Описание: Игнорировать требование к количеству параметров > 0 для исходных предметов
#        По умолчанию: 0


Transmogrification.AllowPoor = 0
Transmogrification.AllowCommon = 0
Transmogrification.AllowUncommon = 1
Transmogrification.AllowRare = 1
Transmogrification.AllowEpic = 1
Transmogrification.AllowLegendary = 0
Transmogrification.AllowArtifact = 0
Transmogrification.AllowHeirloom = 1
Transmogrification.AllowTradeable = 0

Transmogrification.AllowMixedArmorTypes = 0
Transmogrification.AllowLowerTiers = 0
Transmogrification.AllowMixedOffhandArmorTypes = 0
Transmogrification.AllowMixedWeaponTypes = 0
Transmogrification.AllowMixedWeaponHandedness = 0
Transmogrification.AllowFishingPoles = 0

Transmogrification.IgnoreReqRace = 0
Transmogrification.IgnoreReqClass = 0
Transmogrification.IgnoreReqSkill = 0
Transmogrification.IgnoreReqSpell = 0
Transmogrification.IgnoreReqLevel = 0
Transmogrification.IgnoreReqEvent = 0
Transmogrification.IgnoreReqStats = 0

#
#   НАСТРОЙКА ФУНКЦИИ
#
#    Transmogrification.EnableSets
#        Описание: Включает/Отключает данную функцию. Если вы хотите отключить её навсегда, обратитесь к файлу Transmogrification.h
#        По умолчанию: 1
#
#    Transmogrification.MaxSets
#        Описание: Максимальное количество наборов, которые может сохранить игрок (жесткое ограничение — 25)
#        По умолчанию: 10
#
#    Transmogrification.EnableSetInfo
#        Описание: Включает/Отключает информационную кнопку для заданной функции
#        По умолчанию: 1
#
#    Transmogrification.SetNpcText
#        Описание: Запись npc_text в меню информации для данной функции
#        По умолчанию: 601084
#
#    Transmogrification.SetCostModifier
#        Описание: Множитель для базовой стоимости в золоте (сумма всех затрат), установите значение 0 чтобы отменить базовую стоимость
#        По умолчанию: 3.0
#
#    Transmogrification.SetCopperCost
#        Описание: Стоимость добавляемая к другим затратам (могут быть отрицательными)
#        По умолчанию: 0

Transmogrification.EnableSets = 1
Transmogrification.MaxSets = 10

Transmogrification.EnableSetInfo = 1
Transmogrification.SetNpcText = 601084

Transmogrification.SetCostModifier = 3.0
Transmogrification.SetCopperCost = 0

#
#    TRANSMOG PLUS
#
#    Transmogrification.EnablePlus
#        Описание: Включает/Отключает TransmogPlus
#        По умолчанию: 0
#
#    Transmogrification.MembershipLevels
#        Описание: ID уровней подписки из таблицы acore_cms_subscriptions
#        Пример: Transmogrification.MembershipLevels = "1,2,3"
#        По умолчанию: ""
#
#    Transmogrification.MembershipLevelsLegendary
#        Описание: ID уровней подписки из таблицы acore_cms_subscriptions, определяющие право на получение легендарных предметов
#        Пример: Transmogrification.MembershipLevelsLegendary = "1,2,3"
#        По умолчанию: ""
#
#    Transmogrification.MembershipLevelsPet
#        Описание: ID уровней членства из acore_cms_subscriptions, определяющие право на получение питомца для трансмогрификации
#        Пример: Transmogrification.MembershipLevelsPet = "1,2,3"
#        По умолчанию: ""
#
#    Transmogrification.MembershipLevelsSkipLevelReq
#        Описание: ID уровней подписки из таблицы acore_cms_subscriptions, определяющие возможность
#                  пропуска проверки уровня при трансмогрификации.
#        Пример: Transmogrification.MembershipLevelsSkipLevelReq = "1,2,3"
#        По умолчанию: ""
#
#    Transmogrification.PetSpellId
#        Описание: ID, используемый питомцем для трансмогрификации в таблице spell_dbc
#        Пример: Transmogrification.PetSpellId = 2000100
#        По умолчанию: 2000100
#

Transmogrification.EnablePlus = 0
Transmogrification.MembershipLevels = ""
Transmogrification.MembershipLevelsLegendary = ""
Transmogrification.MembershipLevelsPet = ""
Transmogrification.MembershipLevelsSkipLevelReq = ""
Transmogrification.PetSpellId = 200100

#
###################################################################################################
