#####################################################################################################
# Модуль Azerothcore:     TimeIsTime
# Автор:                  Dunjeon
# Автор(ы):               lasyan3, vratam @ RegWorks
# Версия:                 20250608
# Лицензия:               GNU Affero General Public License v3.0
#####################################################################################################
[worldserver]

# Объявление
#####################################################################################################
# Объявление TimeIsTime
# Параметры: 0 = выкл, 1 = вкл
# По умолчанию:  1 
# Пример:  TimeIsTime.Announce = 1 
#####################################################################################################
TimeIsTime.Announce = 1

# Enable
#####################################################################################################
# Enable TimeIsTime
# Параметры: 0 = выкл, 1 = вкл
# По умолчанию:  1
# Пример:  TimeIsTime.Enable = 1 
#####################################################################################################
TimeIsTime.Enable = 1

# Скорость
#####################################################################################################
# Настройте количество игровых дней в сутках реального времени, изменив таймер мира (Realm Timer).
# Параметры: 60 — это 1 секунда (реальное время) = 1 минута (таймер мира).
#           
#           60.0  = 1 игровой день каждые 24 минуты
#           30.0  = 1 игровой день каждые 48 минуты         
#           15.0  = 1 игровой день каждые 96 минуты или 1.6 часа
#           7.5   = 1 игровой день каждые 192 минуты или 3.2 часа
#           3.75  = 1 игровой день каждые 384 минуты или 6.4 часа        
#           1.875 = 1 игровой день каждые 768 минуты или 12.8 часа
#           1.0   = 1 игровой день каждые 1440 минуты или 24.0 часа 
# По умолчанию:  1.0 (Blizzlike)
# Пример:  TimeIsTime.SpeedRate = 1.0
#####################################################################################################
TimeIsTime.SpeedRate = 1.0

# Время начала и смещение в часах:
#####################################################################################################
# Запускать игровой таймер (на стороне клиента) с выбранной отметки времени Unix при каждом входе в систему.
# По умолчанию:  0  (Текщее время)
# Пример:  Исходя из приведенных ниже настроек, параметры GMT TimeStart и HourOffset будут следующими:
#           TimeIsTime.TimeStart = 205364700
#           TimeIsTime.HourOffset = 5
#           City: Chicago, IL USA
#           Summer Solstice Date   :: 06-20-2008
#           Sunrise  = 05:15:27    :: 1213938927
#           Sunset   = 20:29:01    :: 1213993741
#           Midday   = 12:00:00    :: 1213963200
#           Midnight = 24:00:00    :: 1213920000
#####################################################################################################
TimeIsTime.TimeStart = 0
TimeIsTime.HourOffset = 0.0
