[worldserver]

###################################################################################################
#    Настройки DressNpc
###################################################################################################
#
#    DressNpc.Enable
#        Описание:  Включает или отключает модуль DressNPC.
#                     Если эта функция отключена, таблицы костюмов не загружаются,
#                     и существа сохраняют свои стандартные модели.
#        По умолчанию:      1

DressNpc.Enable = 1

#    DressNpc.Sounds.Enable
#        Описание:  Серверное решение проблемы отсутствия звуков приветствия у NPC в костюмах (клиент их не воспроизводит).
#                     При включении этой опции во время взаимодействия игрока с NPC будет воспроизводиться звук приветствия,
#                     указанный в поле `npcsoundsid` для данного костюма (файл NPCSounds.dbc).
#                     Отключите эту опцию, если используете клиентский патч.
#                     Требуется наличие файла NPCSounds.dbc в папке с данными DBC сервера (worldserver).
#        По умолчанию:      1

DressNpc.Sounds.Enable = 1
