[worldserver]

#################################
#
# Возможность приобретения различных предметов
# Наследуемые предметы (Heirlooms): элементы доспехов, оружие и фолиант для полетов в непогоду
# Символы: все большие и малые символы для всех классов
# Самоцветы: все камни, актуальные для персонажей 80-го уровня
# Эликсиры: все боевые и защитные эликсиры
# Еда: большинство видов пищи, дающих эффект усиления после 10 секунд употребления
# Контейнеры: по умолчанию представлены сумки с минимальным количеством ячеек
#

Assistant.Heirlooms.Enabled  = 1
Assistant.Glyphs.Enabled     = 1
Assistant.Gems.Enabled       = 1
Assistant.Elixirs.Enabled    = 1
Assistant.Food.Enabled       = 1
Assistant.Enchants.Enabled   = 1
Assistant.Containers.Enabled = 1

#################################

#################################
#
# Включить дополнительные функции
# Сюда входят смена имени, изменение внешности, смена расы и смена фракции
# Стоимость указывается в медных монетах
# Если стоимость равна 0, функция бесплатна
#

Assistant.Utilities.Enabled            = 1
Assistant.Utilities.NameChange.Cost    = 100000
Assistant.Utilities.Customize.Cost     = 500000
Assistant.Utilities.RaceChange.Cost    = 5000000
Assistant.Utilities.FactionChange.Cost = 10000000

#################################

#################################
#
# Открытие маршрутов полета в зависимости от уровня игрока
# Стоимость указывается в медных монетах
# Если стоимость равна 0, услуга бесплатна
#

Assistant.FlightPaths.Vanilla.Enabled                  = 1
Assistant.FlightPaths.Vanilla.RequiredLevel            = 60
Assistant.FlightPaths.Vanilla.Cost                     = 250000
Assistant.FlightPaths.BurningCrusade.Enabled           = 1
Assistant.FlightPaths.BurningCrusade.RequiredLevel     = 70
Assistant.FlightPaths.BurningCrusade.Cost              = 1000000
Assistant.FlightPaths.WrathOfTheLichKing.Enabled       = 0
Assistant.FlightPaths.WrathOfTheLichKing.RequiredLevel = 80
Assistant.FlightPaths.WrathOfTheLichKing.Cost          = 2500000

#################################

#################################
#
# Повышайте навыки профессии за золото
# Стоимость указывается в медных монетах
# Если стоимость равна 0, услуга бесплатна
#

Assistant.Professions.Apprentice.Enabled  = 1
Assistant.Professions.Apprentice.Cost     = 1000000
Assistant.Professions.Journeyman.Enabled  = 1
Assistant.Professions.Journeyman.Cost     = 2500000
Assistant.Professions.Expert.Enabled      = 1
Assistant.Professions.Expert.Cost         = 5000000
Assistant.Professions.Artisan.Enabled     = 1
Assistant.Professions.Artisan.Cost        = 7500000
Assistant.Professions.Master.Enabled      = 0
Assistant.Professions.Master.Cost         = 12500000
Assistant.Professions.GrandMaster.Enabled = 0
Assistant.Professions.GrandMaster.Cost    = 25000000

#################################

#################################
#
# Сброс подземелий за золото
# Стоимость указывается в медных монетах
# Если стоимость равна 0, услуга бесплатна
#

Assistant.Instances.Enabled         = 1
Assistant.Instances.Heroic.Enabled  = 1
Assistant.Instances.Heroic.Cost     = 100000
Assistant.Instances.Raid.Enabled    = 1
Assistant.Instances.Raid.Cost       = 1000000

#################################
