#
# Credits: silviu20092
#

[worldserver]

########################################
# Item upgrade module configuration
########################################
#
#    ItemUpgrade.Enable
#        Описание: Включить или выключить модуль. Если модуль отключен, ранее улучшенные предметы потеряют бонус от улучшения.
#                  Повторная активация модуля восстановит бонусы уже улучшенного предмета.
#
#        По умолчанию: 0 - Выключенно
#                      1 - Включенно
#

ItemUpgrade.Enable = 1

#
#    ItemUpgrade.AllowedStats
#        Описание: Характеристики, которые можно улучшать. Они соответствуют перечислению ItemModType из файла ItemTemplate.h.
#                  Например, чтобы разрешить улучшение параметра «Сила атаки» (Attack power), в перечислении (enum)
#                  предусмотрен элемент `ITEM_MOD_ATTACK_POWER = 38` — достаточно просто добавить его в список
#                  разрешенных характеристик. Значения разделяются запятыми. Если удалить характеристику из списка
#                  разрешенных, предметы, улучшенные с ее помощью, потеряют соответствующий бонус при повторном добавлении
#                  характеристики бонус для этих предметов восстановится.
#
#        По умолчанию: 3,4,5,6,7,32,36,45
#

ItemUpgrade.AllowedStats = 3,4,5,6,7,32,36,45

#
#    ItemUpgrade.SendUpgradedItemsPackets
#        Описание: Следует ли отправлять пакет SMSG_ITEM_QUERY_SINGLE_RESPONSE для улучшенных предметов.
#                  Это гарантирует, что владелец увидит корректные характеристики при просмотре описания предмета.
#                  Однако эти характеристики будут видны ТОЛЬКО владельцу; данное решение НЕ работает для предметов
#                  со случайными свойствами (характеристиками, определяемыми случайным образом после получения
#                  предмета, например, с суффиксами «Медведя» или «Интеллекта»). Это ограничение обусловлено
#                  особенностями клиента WotLK, и устранить его невозможно.
#                  Улучшения оружия (повышение минимального/максимального урона) БУДУТ отображаться даже
#                  для предметов со случайными свойствами.
#                     ЭТО ВЛИЯЕТ ТОЛЬКО НА ВНЕШНИЙ ВИД — УЛУЧШЕННЫЕ ХАРАКТЕРИСТИКИ ПРИ ЭТОМ СОХРАНЯТСЯ!
#
#        По умолчанию: 0 - Выключенно
#                      1 - Включенно
#

ItemUpgrade.SendUpgradedItemsPackets = 1

#
#    ItemUpgrade.SendUpgradedItemsPacketsPrioritization
#        Описание: Поскольку пакет SMSG_ITEM_QUERY_SINGLE_RESPONSE отправляется на основе ID типа предмета,
#                  а не уникального ID (GUID), это означает следующее: если у нескольких предметов с одинаковым
#                  entry имеются улучшения (будь то повышение характеристик или улучшение оружия),
#                  то для всех таких предметов игрок будет видеть абсолютно одинаковые показатели характеристик и урона.
#                  Следовательно, должен существовать определенный механизм выбора приоритета — например,
#                  отдавать предпочтение предмету с наибольшим количеством улучшений характеристик или
#                  с самым высоким процентом улучшения оружия.
#
#        Пример: Если у игрока есть два предмета «Ramaladni's Blade of Culling» и оба они улучшены
#                (один — на +5% к урону оружия, а другой — на +10%), при этом параметр
#                `ItemUpgrade.SendUpgradedItemsPacketsPrioritization` установлен в значение 1,
#                то игрок увидит, что у обоих видов оружия урон увеличен на 10%. Опять же, это лишь
#                ВИЗУАЛЬНЫЙ эффект: фактические характеристики для обоих предметов рассчитываются верно!
#
#        Значение: 0 - Отдавайте приоритет улучшенным характеристикам
#                      (предметы с большим количеством улучшенных характеристик будут иметь приоритет).
#                  1 - Отдавайте приоритет улучшению оружия
#                      (в первую очередь будут улучшаться предметы с наибольшим процентом улучшения).
#
#        По умолчанию: 0
#

ItemUpgrade.SendUpgradedItemsPacketsPrioritization = 0

#
#    ItemUpgrade.AllowUpgradesPurge
#        Описание: Позволяет игрокам удалять улучшения со своих предметов.
#
#        По умолчанию: 0 - Выключенно
#                      1 - Включенно
#

ItemUpgrade.AllowUpgradesPurge = 1

#
#    ItemUpgrade.UpgradePurgeToken
#        Описание: Выдавать игроку жетон (предмет) при удалении улучшения. Это просто запись
#                  о предмете — им может быть что угодно. Функция активна только при условии
#                  ItemUpgrade.AllowUpgradesPurge = 1.
#
#        По умолчанию: 0 - Токен не выдается
#                      Ввод элемента — Ввод токена
#

ItemUpgrade.UpgradePurgeToken = 0

#
#    ItemUpgrade.UpgradePurgeTokenCount
#        Описание: Количество предметов ItemUpgrade.UpgradePurgeToken, выдаваемых игрокам при удалении
#                  улучшения. Параметр действует только при условии, что ItemUpgrade.AllowUpgradesPurge = 1,
#                  а ItemUpgrade.UpgradePurgeToken является корректным идентификатором предмета.
#
#        По умолчанию: 0 - Нет эффекта
#                      1+ - подсчет
#

ItemUpgrade.UpgradePurgeTokenCount = 0

#
#    ItemUpgrade.RefundAllOnPurge
#        Описание: При сбросе улучшений предмета возвращаются все затраченные на них ресурсы
#                  (предметы, золото, очки чести, очки арены). Возвращается всё: например, если предмет
#                  имеет 3-й ранг улучшения выносливости, будут возвращены затраты на все ранги
#                  с 1-го по 3-й. Функция работает только при условии `ItemUpgrade.AllowUpgradesPurge = 1`.
#
#        По умолчанию: 1 - Вернуть всё, что было использовано для улучшения предмета.
#

ItemUpgrade.RefundAllOnPurge = 1

#
#    ItemUpgrade.RandomUpgradesOnLoot
#        Описание: Могут ли полученные предметы (в том числе добыча группы и квестовые предметы)
#                  автоматически улучшаться? Система, подобная «Titanforging» (титанической ковке).
#
#        По умолчанию: 0 - Нет
#                      1 - Да, автоматическое улучшение предметов включено.
#

ItemUpgrade.RandomUpgradesOnLoot = 0

#
#    ItemUpgrade.RandomUpgradesBroadcastLoginMsg
#        Описание: Уведомьте игроков о том, что функция случайного улучшения предметов включена
#                  соответствующее сообщение будет отправлено при входе в игру.
#                  Действует только при условии ItemUpgrade.RandomUpgradesOnLoot = 1.
#                  Просто укажите "", если не хотите ничего транслировать.
#
#        По умолчанию: |cffeb891a[ITEM UPGRADES SYSTEM]:|r Random item upgrades are active. You have a chance to gain stat upgrades on loot for eligible items.
#

ItemUpgrade.RandomUpgradesBroadcastLoginMsg = |cffeb891a[СИСТЕМА УЛУЧШЕНИЯ ПРЕДМЕТОВ]:|r Действует система случайного улучшения предметов. У вас есть шанс получить улучшенные характеристики у подходящих предметов из добычи.

#
#    ItemUpgrade.RandomUpgradeChance
#        Описание: Шанс автоматического улучшения, действует только при ItemUpgrade.RandomUpgradesOnLoot = 1. Должно быть > 0.
#
#        По умолчанию: 2 - 2% шанс на автоматическое улучшение предметов при их получении.
#

ItemUpgrade.RandomUpgradeChance = 2

#
#    ItemUpgrade.RandomUpgradeMaxStatCount
#        Описание: Количество характеристик, которые могут быть улучшены автоматически.
#                  Значение определяется случайным образом в диапазоне от 1 до числа, выбранного вами здесь.
#                  Например, если вы выберете 4, то будет сгенерировано случайное число от 1 до 4.
#                  Если выпадет 3, то 3 характеристики будут улучшены до уровня `ItemUpgrade.RandomUpgradeMaxRank`.
#                  Выбираемые характеристики также определяются случайным образом.
#                  Если у предмета текущие показатели характеристик ниже выпавшего значения,
#                  то все характеристики будут повышены до уровня `ItemUpgrade.RandomUpgradeMaxRank`.
#                  Выберите значение от 1 до 10.
#
#        По умолчанию: 2 - максимум 2 характеристики будут улучшены (то есть всегда 1 или 2 характеристики).)
#

ItemUpgrade.RandomUpgradeMaxStatCount = 2

#
#    ItemUpgrade.RandomUpgradeMaxRank
#        Описание: Максимальный уровень улучшения, который можно выбрать.
#                  Система случайным образом определит значение в диапазоне от 1 до выбранного вами максимума.
#                  Например, если вы выберете 3, то будет сгенерировано число от 1 до 3.
#                  Если выпадет 2, характеристика будет улучшена до 2-го уровня.
#                  Если уровень n отсутствует, выбирается уровень n-1; если и уровень n-1 недоступен,
#                  поиск продолжается до тех пор, пока не будет найден ближайший доступный уровень.
#
#        По умолчанию: 3 - Каждую характеристику можно повысить до 3-го ранга.
#

ItemUpgrade.RandomUpgradeMaxRank = 3

#
#    ItemUpgrade.RandomUpgradeWhenBuying
#        Описание: Могут ли предметы, купленные у торговцев, получить случайное улучшение?
#
#        По умолчанию: 0 - Не улучшайте купленные предметы наугад.
#

ItemUpgrade.RandomUpgradeWhenBuying = 0

#
#    ItemUpgrade.RandomUpgradeWhenLooting
#        Описание: Могут ли предметы, полученные в качестве добычи, получить случайное улучшение?
#
#        По умолчанию: 1 - Случайным образом улучшать добытые предметы
#

ItemUpgrade.RandomUpgradeWhenLooting = 1

#
#    ItemUpgrade.RandomUpgradeWhenWinning
#        Описание: Могут ли предметы, полученные в рейде или группе с помощью системы «Нужно/Жадность»
#                  (Need/Greed), получить случайное улучшение?
#
#        По умолчанию: 1 - случайное улучшение выигранных предметов
#

ItemUpgrade.RandomUpgradeWhenWinning = 1

#
#    ItemUpgrade.RandomUpgradeOnQuestReward
#        Описание: Могут ли предметы, полученные в награду за задание, получить случайное улучшение?
#
#        По умолчанию: 1 - случайным образом улучшать предметы, полученные в награду за задания
#

ItemUpgrade.RandomUpgradeOnQuestReward = 1

#
#    ItemUpgrade.RandomUpgradeWhenCrafting
#        Описание: Могут ли созданные предметы получить случайное улучшение?
#
#        По умолчанию: 1 - случайным образом улучшать созданные предметы
#

ItemUpgrade.RandomUpgradeWhenCrafting = 1

#
#    ItemUpgrade.UpgradeWeaponDamage
#        Описание: Открывает меню, в котором можно улучшить физический урон оружия (минимальный и максимальный урон).
#
#        По умолчанию: 1 - показать меню
#

ItemUpgrade.UpgradeWeaponDamage = 1

#
#    ItemUpgrade.UpgradeWeaponDamagePercents
#        Описание: Список значений в процентах (разделенных запятыми), которые игроки могут выбрать при улучшении оружия.
#                  Указанные здесь числа будут отсортированы по возрастанию и станут своего рода рангами:
#                  чтобы приобрести следующий уровень (процент), игроку сначала нужно будет купить предыдущий.
#                  Пример: 5, 10, 15. Допустим, игрок хочет увеличить урон оружия на 10%, он не может сразу выбрать
#                  этот вариант — сначала ему придется купить улучшение, повышающее урон на 5%.
#                  При выборе процента для улучшения минимальный и максимальный физический урон оружия увеличится на эту величину.
#
#        По умолчанию: 5, 10, 15 — можно выбрать увеличение на 5%, 10% и 15% соответственно.
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponDamage, равном 1.
#

ItemUpgrade.UpgradeWeaponDamagePercents = 5,10,15

#
#    ItemUpgrade.UpgradeWeaponDamageToken
#        Описание: Предмет, который используется, когда игроки хотят увеличить урон оружия.
#
#        По умолчанию: 0 - Без токена
#                      Ввод элемента — Ввод токена
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponDamage is 1
#

ItemUpgrade.UpgradeWeaponDamageToken = 0

#
#    ItemUpgrade.UpgradeWeaponDamageTokenCount
#        Описание: Количество ItemUpgrade.UpgradeWeaponDamageToken, необходимое для приобретения ранга урона оружия.
#
#        По умолчанию: 1 - 1x ItemUpgrade.UpgradeWeaponDamageToken
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponDamage is 1
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponDamageToken если является допустимым предметом
#

ItemUpgrade.UpgradeWeaponDamageTokenCount = 1

#
#    ItemUpgrade.UpgradeWeaponDamageMoney
#        Описание: Деньги (медь), которые игроки должны заплатить при покупке улучшения урона оружия.
#
#        По умолчанию: 0 - Бесплатно
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponDamage is 1
#

ItemUpgrade.UpgradeWeaponDamageMoney = 0

#
#    ItemUpgrade.UpgradeWeaponSpeed
#        Описание: Отображает меню, в котором можно улучшить скорость оружия.
#
#        По умолчанию: 1 - показать меню
#

ItemUpgrade.UpgradeWeaponSpeed = 1

#
#    ItemUpgrade.UpgradeWeaponSpeedPercents
#        Описание: Список значений в процентах (разделенных запятыми), которые игроки могут выбрать при улучшении скорости своего оружия.
#                  Указанные здесь числа будут отсортированы по возрастанию и будут выполнять роль уровней:
#                  чтобы приобрести следующий уровень (процент), игрокам потребуется сначала купить предыдущий.
#
#        Пример: 10, 20, 30 — допустим, игрок хочет увеличить скорость оружия на 20%,
#                он не может сделать это напрямую — сначала ему придется приобрести улучшение, повышающее скорость на 10%.
#                При выборе процентного показателя для улучшения скорость оружия изменится на этот процент.
#
#        По умолчанию: 10,20,30 - can choose to upgrade by 10%, 20% and 30% respectively
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponSpeed is 1
#

ItemUpgrade.UpgradeWeaponSpeedPercents = 10,20,30

#
#    ItemUpgrade.UpgradeWeaponSpeedToken
#        Описание: Жетон (предмет), который используется, когда игроки хотят увеличить скорость оружия.
#
#        По умолчанию: 0 - Без токена
#                      Ввод элемента — Ввод токена
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponSpeed is 1
#

ItemUpgrade.UpgradeWeaponSpeedToken = 0

#
#    ItemUpgrade.UpgradeWeaponSpeedTokenCount
#        Описание: Количество ItemUpgrade.UpgradeWeaponSpeedToken, необходимое для приобретения ранга скорости оружия.
#
#        По умолчанию: 1 - 1x ItemUpgrade.UpgradeWeaponSpeedToken
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponSpeed is 1
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponSpeedToken если является допустимым предметом
#

ItemUpgrade.UpgradeWeaponSpeedTokenCount = 1

#
#    ItemUpgrade.UpgradeWeaponSpeedMoney
#        Описание: Деньги (медь), которые игроки должны заплатить при покупке улучшения скорости оружия.
#
#        По умолчанию: 0 - Бесплатно
#                      Эффект проявляется только при значении ItemUpgrade.UpgradeWeaponSpeed is 1
#

ItemUpgrade.UpgradeWeaponSpeedMoney = 0
